<div align="center">
	<ul class="nav nav-pills pull left">
		<li><%= link_to "Login", "/login" %></li>	
		<li><%= link_to "New Watchers", "/watchers/new" %></li>
	</ul>	

	<img src="http://www.theamericanconservative.com/wp-content/uploads/2014/07/police-with-batons.jpg" class="img-responsive" alt="Responsive image">

</div>
	<div align="center">	
		<h1>
			I SMELL BACON
		</h1>
    </div>
	
